body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    background-image: url(WhatsApp\ Image\ 2024-06-30\ at\ 21.50.35_ddf0e870.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    height: 100vh;
    background-size: cover;
    position: relative;
}

.container {
    text-align: center;
    
    padding: 20px;
    border-radius: 8px;
    position: absolute;
    left: 35%;
background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 1px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

input, button {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: transparent;
}

button {
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.weather-data {
    margin-top: 20px;
    
}
.container h1{
    background-image: url(image\ \(1\).png);
    background-size: cover;
    background-clip: text;
    color: transparent;
}
input{
    font-size: 20px;
    
}
.head{
    background-image: url(image\ \(1\).png);
    background-size: cover;
    background-clip: text;
    color: transparent;
}